form#login {
margin:0; padding:0;
position:relative;
display:inline-block;
width:24em;
height:9em;
margin-left:1em;
}

h1.login {
margin-bottom:10px;
}

form#login p {
position:relative;
padding:0;
margin:1em 1em;
color:#333;
font-size:1em; 
text-align:justify;
}

form#login input[type=text], form#login input[type=password] {
position:absolute;
margin:0; padding:0;
width:15em;
right:0;
}

form#login input[type=submit] {
position:absolute;
margin:0; padding:0;
right:0;
}

p.login-result {
width:28em;
margin:0; padding:0;
margin-left:1em;
margin-bottom:0.5em;
font-family:Verdana,Arial,sans-serif;
font-size:80%;
text-align:center;
color:#ff8040;
border:1px solid #ff4000;
padding:0.3em 0.5em;
background-color:#fff0d0;
border-radius:8px;
}
